 .u-section-1 {
  background-image: url("images/tree.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 710px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 5.625rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 242px 0 0 341px;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 0 0 525px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  border-style: solid;
  --radius: 50px;
  margin: 60px 0 0 auto;
  padding: 18px 42px 18px 41px;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  border-style: solid;
  --radius: 50px;
  margin: 142px auto 14px;
  padding: 2px 9px 3px 8px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 413px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    margin-left: 141px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 325px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 50% 50%, 28.87% 50%;
    background-size: auto 115%;
    min-height: 316px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.625rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 105px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 50% 50%, 2.15% 50%;
    background-size: cover;
    min-height: 237px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 50% 50%, 14.02% 50%;
    background-size: cover, cover;
    min-height: 149px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(26, 26, 26, 1), rgba(26, 26, 26, 1));
  background-size: cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 570px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  --radius: 50px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 424px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9));
  background-size: cover;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 242px;
  height: 258px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 424px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 19px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.1875rem;
  margin: 16px 0 0;
}

.u-section-2 .u-line-1 {
  width: 108px;
  transform-origin: left center;
  margin: 23px auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 40px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 273px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 258px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 487px;
  }

  .u-section-2 .u-image-1 {
    height: 230px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2122px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 542px;
  }

  .u-section-2 .u-image-1 {
    height: 391px;
    width: 383px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1446px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 389px;
  }

  .u-section-2 .u-image-1 {
    height: 242px;
    width: 242px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 518px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  min-height: 398px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-line-1 {
  width: 540px;
  transform-origin: left center;
  position: absolute;
  top: 365px;
}

.u-section-3 .u-line-2 {
  width: 540px;
  transform-origin: left center;
  position: absolute;
  top: 255px;
}

.u-section-3 .u-text-1 {
  font-size: 1rem;
  margin: 1px -137px 0 15px;
}

.u-section-3 .u-text-2 {
  margin: 15px 15px 0;
}

.u-section-3 .u-line-3 {
  width: 108px;
  transform-origin: left center;
  margin: 15px auto 0 15px;
}

.u-section-3 .u-text-3 {
  margin: 32px 16px 0;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  --radius: 50px;
  margin: 41px auto 0;
}

.u-section-3 .u-image-1 {
  min-height: 398px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
  background-image: url("images/image-29.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 328px;
  }

  .u-section-3 .u-line-1 {
    width: 470px;
  }

  .u-section-3 .u-line-2 {
    width: 470px;
    height: 3px;
    left: auto;
    right: -108px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-line-3 {
    height: 3px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 328px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 368px;
  }

  .u-section-3 .u-image-1 {
    min-height: 502px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-3 .u-image-1 {
    min-height: 377px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 537px;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
  }

  .u-section-3 .u-line-2 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    min-height: 237px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 867px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 63px auto 0;
}

.u-section-4 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 21px auto 0;
}

.u-section-4 .u-image-1 {
  width: 498px;
  height: 526px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
  object-position: 50.23% 50%;
  margin: 45px auto 0 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  width: 612px;
  margin: -526px 0 60px auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 526px;
  grid-gap: 20px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 19px;
}

.u-section-4 .u-icon-1 {
  height: 85px;
  width: 85px;
  animation-timing-function: ease;
  margin: 6px auto 0;
  padding: 7px;
}

.u-section-4 .u-text-3 {
  width: 189px;
  margin: 33px auto 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 19px;
}

.u-section-4 .u-icon-2 {
  height: 85px;
  width: 85px;
  animation-timing-function: ease;
  margin: 6px auto 0;
  padding: 0;
}

.u-section-4 .u-text-4 {
  width: 189px;
  margin: 33px auto 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 19px;
}

.u-section-4 .u-icon-3 {
  height: 85px;
  width: 85px;
  animation-timing-function: ease;
  margin: 6px auto 0;
  padding: 0;
}

.u-section-4 .u-text-5 {
  width: 189px;
  margin: 33px auto 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 19px;
}

.u-section-4 .u-icon-4 {
  height: 85px;
  width: 85px;
  animation-timing-function: ease;
  margin: 6px auto 0;
  padding: 0;
}

.u-section-4 .u-text-6 {
  width: 189px;
  margin: 33px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1442px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 65px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-4 .u-image-1 {
    height: 546px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-list-1 {
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 536px;
    grid-auto-columns: calc(50% - 10px);
  }

  .u-section-4 .u-text-3 {
    margin-top: 3px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 52px;
} .u-section-6 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/water.png");
  background-size: cover;
}

.u-section-6 .u-sheet-1 {
  min-height: 400px;
}

.u-section-6 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 5.625rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 60px 0 60px 189px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3.4375rem;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.625rem;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 190px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 120px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 306px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  min-height: 186px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-text-1 {
  font-size: 1rem;
  margin: 1px -137px 0 15px;
}

.u-section-7 .u-text-2 {
  margin: 15px 15px 0;
}

.u-section-7 .u-line-1 {
  width: 238px;
  transform-origin: left center;
  margin: 15px auto 0 15px;
}

.u-section-7 .u-text-3 {
  margin: 32px 16px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 286px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 153px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-line-1 {
    height: 3px;
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 597px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 457px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 52px;
} .u-section-9 {
  background-image: url("images/walls.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.u-section-9 .u-sheet-1 {
  min-height: 481px;
}

.u-section-9 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 5.625rem;
  text-transform: uppercase;
  font-weight: 700;
  width: 795px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 397px;
  }

  .u-section-9 .u-text-1 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.625rem;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 228px;
  }

  .u-section-9 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 144px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 524px;
}

.u-section-10 .u-text-1 {
  font-weight: 400;
  margin: 25px auto 0;
}

.u-section-10 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 17px;
  margin-bottom: 25px;
}

.u-section-10 .u-repeater-1 {
  grid-auto-columns: calc(25% - 14.25px);
  grid-template-columns: repeat(4, calc(25% - 14.25px));
  min-height: 433px;
  grid-gap: 19px;
}

.u-section-10 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-10 .u-container-layout-1 {
  padding: 17px 0 12px;
}

.u-section-10 .u-image-1 {
  height: 275px;
  width: 249px;
  --radius: 50px;
  margin: -8px auto 0;
}

.u-section-10 .u-text-2 {
  text-transform: uppercase;
  width: 153px;
  margin: 17px auto 0;
}

.u-section-10 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --radius: 50px;
  background-image: none;
  margin: 12px 59px 0 auto;
  padding: 16px 52px 18px;
}

.u-section-10 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-10 .u-container-layout-2 {
  padding: 17px 0 12px;
}

.u-section-10 .u-image-2 {
  height: 275px;
  width: 249px;
  --radius: 50px;
  object-position: 50% 0%;
  margin: -8px auto 0;
}

.u-section-10 .u-text-3 {
  text-transform: uppercase;
  width: 153px;
  margin: 17px auto 0;
}

.u-section-10 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --radius: 50px;
  background-image: none;
  margin: 12px 59px 0 auto;
  padding: 16px 52px 18px;
}

.u-section-10 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-10 .u-container-layout-3 {
  padding: 17px 0 12px;
}

.u-section-10 .u-image-3 {
  height: 275px;
  width: 249px;
  --radius: 50px;
  margin: -8px auto 0;
}

.u-section-10 .u-text-4 {
  text-transform: uppercase;
  width: 153px;
  margin: 17px auto 0;
}

.u-section-10 .u-btn-3 {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --radius: 50px;
  background-image: none;
  margin: 12px 59px 0 auto;
  padding: 16px 52px 18px;
}

.u-section-10 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-10 .u-container-layout-4 {
  padding: 17px 0 12px;
}

.u-section-10 .u-image-4 {
  height: 275px;
  width: 249px;
  --radius: 50px;
  margin: -8px auto 0;
}

.u-section-10 .u-text-5 {
  text-transform: uppercase;
  width: 153px;
  margin: 17px auto 0;
}

.u-section-10 .u-btn-4 {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --radius: 50px;
  background-image: none;
  margin: 12px 59px 0 auto;
  padding: 16px 52px 18px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-list-1 {
    height: auto;
  }

  .u-section-10 .u-repeater-1 {
    min-height: 353px;
  }

  .u-section-10 .u-image-1 {
    height: 237px;
  }

  .u-section-10 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-10 .u-image-2 {
    height: 237px;
  }

  .u-section-10 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-10 .u-image-3 {
    height: 237px;
  }

  .u-section-10 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-10 .u-image-4 {
    height: 237px;
  }

  .u-section-10 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-repeater-1 {
    grid-auto-columns: calc(50% - 9.5px);
    grid-template-columns: repeat(2, calc(50% - 9.5px));
    min-height: 1140px;
  }

  .u-section-10 .u-image-1 {
    height: 281px;
  }

  .u-section-10 .u-image-2 {
    height: 281px;
  }

  .u-section-10 .u-image-3 {
    height: 281px;
  }

  .u-section-10 .u-image-4 {
    height: 281px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    min-height: 1630px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-image-1 {
    height: 487px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-image-2 {
    height: 487px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-image-3 {
    height: 487px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-image-4 {
    height: 487px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-10 .u-container-layout-1 {
    padding: 20px;
  }

  .u-section-10 .u-image-1 {
    height: 325px;
  }

  .u-section-10 .u-container-layout-2 {
    padding: 20px;
  }

  .u-section-10 .u-image-2 {
    height: 325px;
  }

  .u-section-10 .u-container-layout-3 {
    padding: 20px;
  }

  .u-section-10 .u-image-3 {
    height: 325px;
  }

  .u-section-10 .u-container-layout-4 {
    padding: 20px;
  }

  .u-section-10 .u-image-4 {
    height: 325px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 52px;
} .u-section-12 {
  background-image: url("images/shrooms.png");
  background-position: 50% 50%;
  background-size: 105%;
}

.u-section-12 .u-sheet-1 {
  min-height: 747px;
}

.u-section-12 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 5.625rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 199px 0 0 341px;
}

.u-section-12 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 28px 0 60px 525px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-12 .u-text-1 {
    margin-left: 141px;
    font-size: 3.4375rem;
    width: auto;
  }

  .u-section-12 .u-text-2 {
    margin-left: 325px;
  }
}

@media (max-width: 991px) {
   .u-section-12 {
    background-position: 50% 50%, 28.87% 50%;
    background-size: auto 115%;
  }

  .u-section-12 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-12 .u-text-1 {
    margin-left: 0;
  }

  .u-section-12 .u-text-2 {
    margin-left: 105px;
  }
}

@media (max-width: 767px) {
   .u-section-12 {
    background-position: 50% 50%, 2.15% 50%;
    background-size: 105%;
  }

  .u-section-12 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-12 .u-text-1 {
    margin-top: 138px;
  }

  .u-section-12 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-12 {
    background-position: 50% 50%, 14.02% 50%;
    background-size: cover, cover;
  }

  .u-section-12 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-12 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 721px;
}

.u-section-13 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 78px auto 0;
}

.u-section-13 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 12px auto 0;
}

.u-section-13 .u-image-1 {
  width: 953px;
  height: 438px;
  --radius: 50px;
  margin: 37px auto 0 78px;
}

.u-section-13 .u-image-2 {
  width: 391px;
  height: 391px;
  --radius: 50px;
  margin: -414px auto 0 109px;
}

.u-section-13 .u-image-3 {
  width: 391px;
  height: 391px;
  --radius: 50px;
  margin: -391px 137px 0 auto;
}

.u-section-13 .u-btn-1 {
  background-image: none;
  --bottom-right-radius: 50px;
  --bottom-left-radius: 50px;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -89px auto 0 109px;
  padding: 27px 135px 29px;
}

.u-section-13 .u-btn-2 {
  background-image: none;
  --bottom-right-radius: 50px;
  --bottom-left-radius: 50px;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -90px 137px 60px auto;
  padding: 28px 135px 29px 134px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-13 .u-image-1 {
    width: 940px;
    height: 432px;
    margin-left: 0;
  }

  .u-section-13 .u-image-2 {
    margin-top: -408px;
  }

  .u-section-13 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-13 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-13 .u-image-1 {
    width: 720px;
    height: 331px;
  }

  .u-section-13 .u-image-2 {
    margin-top: -307px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-13 .u-image-1 {
    width: 540px;
    height: 248px;
  }

  .u-section-13 .u-image-2 {
    margin-top: -224px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 337px;
  }

  .u-section-13 .u-image-1 {
    width: 340px;
    height: 156px;
  }

  .u-section-13 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: -132px;
    margin-left: 0;
  }

  .u-section-13 .u-image-3 {
    width: 340px;
    height: 340px;
    margin-top: -340px;
    margin-right: 0;
  }

  .u-section-13 .u-btn-1 {
    margin-top: -38px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 52px;
}.u-section-15 .u-sheet-1 {
  min-height: 790px;
}

.u-section-15 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 78px auto 0;
}

.u-section-15 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 12px auto 0;
}

.u-section-15 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-15 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 50px));
  min-height: 437px;
  grid-auto-columns: calc(50% - 50px);
  grid-gap: 100px;
}

.u-section-15 .u-image-1 {
  background-image: url("images/rincoe1.jpg");
  background-position: 50% 50%;
  --radius: 50px;
  background-size: cover;
}

.u-section-15 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-15 .u-group-1 {
  min-height: 130px;
  height: auto;
  width: 516px;
  --bottom-right-radius: 50px;
  --bottom-left-radius: 50px;
  margin: 263px -8px -6px;
}

.u-section-15 .u-container-layout-2 {
  padding-left: 25px;
  padding-right: 25px;
}

.u-section-15 .u-text-3 {
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 23px auto 0;
}

.u-section-15 .u-text-4 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-15 .u-image-2 {
  background-image: url("images/mud2.jpg");
  background-position: 50% 50%;
  --radius: 50px;
  background-size: cover;
}

.u-section-15 .u-container-layout-3 {
  padding: 30px 0 0;
}

.u-section-15 .u-group-2 {
  min-height: 130px;
  height: auto;
  width: 516px;
  --bottom-right-radius: 50px;
  --bottom-left-radius: 50px;
  margin: 263px -8px -6px;
}

.u-section-15 .u-container-layout-4 {
  padding-left: 25px;
  padding-right: 25px;
}

.u-section-15 .u-text-5 {
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 23px auto 0;
}

.u-section-15 .u-text-6 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-15 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-15 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 199px;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-15 .u-group-1 {
    height: auto;
  }

  .u-section-15 .u-container-layout-2 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .u-section-15 .u-group-2 {
    height: auto;
  }

  .u-section-15 .u-container-layout-4 {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 764px;
  }

  .u-section-15 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-15 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-15 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-15 .u-group-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-15 .u-group-2 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}